.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.buttons-color{
    margin:25px;
display:flex;
    flex-direction: row;

}

.single-button{
    margin:10px;
    font-size:20px

}
